div.card {
  border: 2px solid;
  border-radius: 10px;
  padding: 0px;
  margin: 3px;
  flex: none;
}

div.card-contents {
  background-color: white;
  margin: 5px auto;
  padding: 3px;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

div.card-contents.small {
  height: 250px;
}

div.card-contents.medium {
  height: 400px;
}

div.card-contents.large {
  height: 550px;
}

div.card.small.open {
  height: 300px;
}

div.card.medium.open {
  height: 450px;
}

div.card.large.open {
  height: 600px;
}

div.card.closed {
  height: 40px;
}

div.card.small {
  width: 300px;
}

div.card.medium {
  width: 450px;
}

div.card.large {
  width: 650px;
}

h3.card {
  padding-bottom: 5px;
  margin: 5px;
  color: white;
}

div.card-holder {
  width: 900px;
}

div.card-holder.open {
  height: auto;
}

div.card-holder.closed {
  height: 40px;
}

div.card-holder-contents {
  background-color: white;
  margin: 5px auto;
  padding: 3px;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 250px;
}
