div.card {
  border: 2px solid;
  border-radius: 10px;
  padding: 0px;
  margin: 3px;
  flex: none;
  max-width: 90vw;
}

div.card-contents {
  background-color: white;
  margin: 5px auto;
  padding: 3px;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

div.card.small.closed, div.card.medium.closed, div.card.large.closed {
  height: max-content;
  width: max-content;
  font-size: 10pt;
  padding: 0px;
  text-align: center;
}

div.card.small {
  width: 300px;
}

div.card.medium {
  width: 450px;
}

div.card.large {
  width: 650px;
}

p.card {
  vertical-align: middle;
  padding: 2px;
  margin: 0px;
  color: white;
  font-size: 12pt;
  border-radius: 7px;
  min-height: 20px;
}

div.card-collection {
  display: flex;
  flex-flow: row wrap;
  height: min;
  align-items: baseline;
}
