@media screen and (min-width: 60rem) {
	html, body {
		height: 100%;
		overflow-y: hidden;
	}

	body {
		display: grid;
		grid-template-columns: 20rem auto;
		grid-template-rows: auto 2rem;
		grid-template-areas:
			"nav main"
			"nav footer";
		grid-gap: 10px;
	}

	nav {
		grid-area: nav;
		overflow-y: scroll;
	}

	footer {
		grid-area: footer;
	}

	main {
		overflow-y: hidden;
		height: 100%;
	}

	div.context {
		overflow-y: scroll;
		height: 100%;
	}

	div.monster {
		border-radius: 1rem;
		border-width: 0.2rem;
		border-style: solid;
		width: 26rem;
		height: 18rem;
		padding: 1rem;
		margin: 2rem 0rem;
	}

	div.powers {
		display: flex;
		flex-flow: row wrap;
	}

	div.element {
		grid-area: content;
		overflow-y: scroll;
		height: 100%;
	}

	div.content {
		height: 100%;
		width: 100%;
		overflow-y: scroll;

		display: grid;
		grid-template-columns: auto 20rem;
		grid-template-rows: auto;
		grid-template-areas:
			"article aside";
		grid-gap: 10px;
	}

	article {
		grid-area: article;
		overflow-y: scroll;
		height: 100%;
	}

	aside {
		grid-area: aside;
		overflow-y: scroll;
		height: 100%;
	}
}
