@media screen and (min-width: 31rem) {
	html, body {
		height: 100%;
		overflow-y: hidden;
	}

	body {
		display: grid;
		grid-template-columns: 250px auto;
		grid-template-rows: 100px auto 2rem;
		grid-template-areas:
			"header main"
			"nav main"
			"nav footer";
		grid-gap: 10px;
	}

	header {
		grid-area: header;
	}

	aside {
		grid-area: nav;
		overflow-y: scroll;
	}

	footer {
		grid-area: footer;
	}

	main {
		grid-area: main;
		display: grid;
		grid-template-columns: auto 300px;
		grid-template-rows: auto;
		grid-template-areas:
			"content side";
		grid-gap: 10px;
		overflow-y: hidden;
		height: 99%;
	}

	div.context {
		grid-area: side;
		overflow-y: scroll;
		height: 100%;
	}

	div.action {
		border-radius: 1rem;
		border-width: 0.2rem;
		border-style: solid;
		width: 12rem;
		height: 18rem;
		padding: 1rem;
		margin: 2rem 0rem;
	}

	div.powers {
		display: flex;
		flex-flow: row wrap;
	}

	article {
		grid-area: content;
		overflow-y: scroll;
		height: 100%;
	}
}
