@media (prefers-color-scheme: dark) {
	:root {
		--default-font-color: white;
		--reverse-font-color: black;
		--background-color: #444;
		--arcana-color: #005;
		--discipline-color: #500;
		--passive-color: #050;
		--class-aspect-color: #550;
		--archetype-aspect-color: #055;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--default-font-color: black;
		--reverse-font-color: white;
		--background-color: #eee;
		--arcana-color: #44d;
		--discipline-color: #d44;
		--passive-color: #4d4;
		--class-aspect-color: #dd4;
		--archetype-aspect-color: #4dd;
	}
}


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
  color: var(--default-font-color);
}

body {
	margin: 0;
	padding: 1vmin;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,h2,h3,h4,h5,h6,p,li {
	text-align: left;
	line-height: 1.5;
}

p,li {
	font-size: 1rem;
}

h6 {
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

h5 {
	font-size: 1.3rem;
	font-style: italic;
}

h4 {
	font-size: 1.6rem;
	text-transform: uppercase;
}

h3 {
	font-size: 1.9rem;
}

h2 {
	font-size: 2.2rem;
	font-style: italic;
}

h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
}

h1.dragonsteel {
	font-size: 2.5rem;
	margin-top: 4px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

h1.dragonsteel + small {
	font-size: 1rem;
	text-transform: lowercase;
	font-weight: lighter;
	margin-top: 0px;
	padding-top: 0px;
}

article {
  columns: 40ch;
  height: min-content;
	padding: 3px;
}

section {
	padding-top: 2px;
	margin-top: 2px;
}

article + article {
	border-top-style: solid;
	border-width: medium;
}

section + section {
	border-top-style: solid;
	border-width: thin;
}

:is(section,article) > :is(h1,h2,h3,h4,h5,h6) {
	break-after: avoid;
	padding-top: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
}

table + table {
	margin-top: 1rem;
}

tbody {
	border-style: solid;
}

caption {
	padding-bottom: 0.5rem;
	text-align: left;
	font-style: italic;
}

.openable {
	cursor: pointer;
}

a {
	cursor: pointer;
}

p,ul {
	margin: 1px;
}

ul {
	list-style: circle;
	text-align: left;
	margin: 0
	padding: 0
}

.dropdown input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

table.statblock {
	text-align: left;
	margin-right: 15px;
}

td.stat {
	text-align: right;
	padding-right: 5px;
}
