html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
	text-align: left;
}

h3 {
  font-size: 1.3em;
  font-weight: 50;
  padding: 3px 10px;
}

ul {
	list-style: none;
	margin: 0
	padding: 0
}

.dropdown input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.collapsible.open {
	background-color: #444;
	color: #eee;
	cursor: pointer;
	text-align: left;
	align: left;
	width: max-content;
}

.collapsible.closed {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	text-align: left;
	align: left;
	width: max-content;
}

.collapsible.closed ~ .content {
	height: 0;
	transform: scaleY(0);
}

.collapsible.open ~ .content {
	height: 100%;
	transform-origin: top;
	transition: transform .2s ease-out;
	transform: scaleY(1);
}
