@media print {
  body {
  }

  main {
  }

  aside {
    display: none;
  }

  header {
  }

  nav {
    display: none;
  }

  article {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }

  div.context {
    display: none;
  }

  footer {
    display: none;
  }
}
