@media print {
  body {
  }

  main {
  }

  header {
  }

  div.context {
    display: none;
  }

  div.action {
		border-radius: 3mm;
		border-width: 1mm;
		border-style: solid;
		width: 42mm;
		height: 67mm;
		padding: 3mm;
		margin: 3mm 0mm;
	}

	div.monster {
		border-radius: 3mm;
		border-width: 1mm;
		border-style: solid;
		width: 110mm;
		height: 67mm;
		padding: 3mm;
		margin: 3mm 0mm;
	}

  div.powers {
		display: grid;
		width: min-content;
	  grid-template-columns: repeat(3, 1fr);
	  gap: 10px;
	  grid-auto-rows: minmax(100px, auto);
	}

  article {
    column-count: 2;
  }

  nav {
    display: none;
  }

  footer {
    display: none;
  }

  aside {
    display: none;
  }
}
